body {
    line-height: 24px;
}

.container {
    max-width: 700px;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.flex-1 {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 0;
}

.logo {
    width: 125px;
    height: 125px;
    margin-right: 15px;
}

.fw-600 {
    font-weight: 600;
}

.fs-bigger {
    font-size: 20px;
}

@media (max-width: 575.98px) { 
    .logo {
        margin-right: 10px;
    }

    .header {
        display: block !important;
    }

}